@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);


body {
	font-family: 'Hanna','Gulim';
	color: #666;
	background-image: url("../img/bigle.jpg") ;
	background-repeat:no-repeat;
	background-size : 100% 100%;
}

.container {
	position: relative;
	width: 80%;
	height: 0;
	margin: 0px auto;
	padding-bottom: 40%;
	overflow: visible;
}

.boxWrapper {
	margin-top: 160px;
	text-align: center;
	position: absolute;
	top: 80px;
	width: 100%;
	height: 90%;
	overflow: visible;
}

.box {
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #fff;
	width: 100%;
	height: 30%;
	min-width: 100px;
	max-width: 260px;
	min-height: 100px;
	max-height: 150px;
	position: relative;
	text-align: center;
	display: inline-block;
	z-index: 1;
	position: relative;
}
.box:hover {
	-moz-box-shadow: 0 0 10px #bbb;
	-webkit-box-shadow: 0 0 10px #bbb;
	box-shadow: 0 0 10px #bbb;
	color: black;
	-webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.boxList {
	width: 25%;
	display: inline-table;
	margin: 20px;
}

.boxDetail {
	position: absolute;
	z-index: 100;
	width: 25%;
	z-index: 100;
}
#headline {
	padding-top: 30px;
	width: 100%;
	text-align: center;
}
#add {
	margin-top: 20px;
	float: right;
}
