@CHARSET "UTF-8";

body {
	background-image: url("http://blogfiles.naver.net/20141124_247/banga2011_1416822549207VhVE1_JPEG/%BA%F1%B1%DB.jpg") ;
	background-repeat:no-repeat;
	background-size : 100% 100%;
}
.h1 {
	font-weight: border;
	font-size: 400%;

}

.h2 {
	font-weight: border;
	
}

.container {
	position: relative;
	width: 80%;
	height: 0;
	margin: 0px auto;
	padding-bottom: 40%;
	overflow: visible;
}

.boxWrapper {
	margin-top: 20px;
	text-align: center;
	position: absolute;
	top: 80px;
	width: 90%;
	height: 90%;
	overflow: visible;
}

.box {
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #fff;
	width: 100%;
	height: 30%;
	min-width: 100px;
	max-width: 260px;
	min-height: 100px;
	max-height: 150px;
	position: relative;
	text-align: center;
	display: inline-block;
	z-index: 1;
	position: relative;
}
.box:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

.boxList {
	width: 25%;
	display: inline-table;
	margin: 20px;
}

.boxDetail {
	position: absolute;
	z-index: 100;
	width: 25%;
	z-index: 100;
}
#headline {
	float: left;
	display: inline;
}
#add {
	margin-top: 20px;
	float: right;
}
